<form method=post>
    <div class="container-fluid mx-md-5">
        <div class=row>


            <div class="col-md-3">
                <div><img
                        [src]="'https://www.unamur.be/sciences/chimie/cbo/members/membres-fichiers/anonymity.jpg/image'"
                        style="width:10%"></div>
                <div>Nom : HENRI</div>
                <div>Prénom(s) : Brigitte</div>
                <div>Date de naissance : 14/05/99</div>
                <div>Email : hb@gmail.com</div>
                <div>Téléphone : 06 65 89 64 57</div>

            </div>

            <div class="col-md-3 text-center">

                <div><img
                        [src]="'https://www.unamur.be/sciences/chimie/cbo/members/membres-fichiers/anonymity.jpg/image'"
                        style="width:10%"></div>
                <div>Nom : AL-JAHIZ</div>
                <div>Prénom(s) : Hussein</div>
                <div>Date de naissance : 29/06/95</div>
                <div>Email : aljhu@gmail.com</div>
                <div>Téléphone : 06 63 45 87 12</div>

            </div>

            <div class="col-md-3 text-right">

                <div><img
                        [src]="'https://www.unamur.be/sciences/chimie/cbo/members/membres-fichiers/anonymity.jpg/image'"
                        style="width:10%"></div>
                <div>Nom : NGUYEN</div>
                <div>Prénom(s) : Kim</div>
                <div>Date de naissance : 02/02/97</div>
                <div>Email : k-guy@gmail.com</div>
                <div>Téléphone : 06 69 98 87 87</div>


            </div>
        </div>
    </div>
</form>