<div class="row no-padding">

    
    <div class="col-4 text-middle">
        <ul class="list-unstyled">
            <li>Nom : HENRI</li>
            <li>Prénom(s) : Brigitte</li>
            <li>Date de naissance : 14/05/99</li>
            <li>Email :hb@gmail.com</li>
            <li>Téléphone : 06 65 89 64 57</li>
            <li><img [src]="col.photoUrl" style="width:50%"></li>
            
        </ul>
    </div>

    <div class="col-4 text-middle">
        <ul class="list-unstyled">
            <li>Nom : AL-JAHIZ</li>
            <li>Prénom(s) : Hussein</li>
            <li>Date de naissance : 29/06/95</li>
            <li>Email : aljhu@gmail.com</li>
            <li>Téléphone : 06 63 45 87 12</li>
            <li><img [src]="col.photoUrl" style="width:50%"></li>
            
        </ul>
    </div>

    <div class="col-4 text-middle">
        <ul class="list-unstyled">
            <li>Nom : NGUYEN</li>
            <li>Prénom(s) : Kim</li>
            <li>Date de naissance : 02/02/97</li>
            <li>Email : k-guy@gmail.com</li>
            <li>Téléphone : 06 69 98 87 87</li>
            <li><img [src]="col.photoUrl" style="width:50%"></li>
            
        </ul>
    </div>
</div>